body {
  background-color: rgb(203, 221, 227);
}

/* overskrift h1 design */
h1{
  height: 40  px;
  width: 95%;
  background-color: rgb(54, 72, 78);
  padding:10px;
  text-align: left;
  text-align: middle;
 
  font-size: xx-large;
  border: 5px;
  color: white
}

.square{
 height: 65px;
 background-color: rgb(41,49,51);
 padding:10px;
 text-align: left;
 text-align: middle;

 font-size: xxx-large;
 border: 5px;
 color: white
}

.squareMP{
  height: 65px;
  background-color: rgb(41,49,51);
  padding:10px;
  text-align: left;
  text-align: middle;
 
  font-size: xxx-large;
  font-style: bold;
  border: 5px;
  color: white
 }

 .squareEOK{
  height: 1%;
  width: 50%;
  background-color: rgb(112, 134, 139);
  padding:10px;
  text-align: left;
  text-align: middle;
 
  font-size: medium;
  border: 5px;
  color: white
 }

img {
  display: block;
  margin-left: 100;
  margin-right: 100;
  width: 20%;
  display: inline-block;
}

.img2 {
  display: block;
  margin-left: 100;
  margin-right: 100;
  width: 100%
}

